/* For fixed top and bottom navigation bars */

body { 
	padding-top: 70px; 
}

.navbar {
    margin-bottom: 0;
}

.navbar-fixed-top {
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.stationTabs {
	margin-bottom: 20px;
}

.platform {
	font-size: 0.8em;
}