/* For fixed top and bottom navigation bars */

body { 
	padding-top: 70px; 
}

/* font-awesome */
.fa {
  text-rendering: auto;
}

.loadMask {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.loadMessage {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1001;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	color: #000000;
	padding: 20px;
	border-width: 1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #000000;
	font-size: 1.1em;
	font-weight: bolder;
}

.navbar {
    margin-bottom: 0;
}

.navbar-fixed-top {
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.headerNoGap {
	margin-top: -12px;
}

.stationTabs {
	margin-bottom: 20px;
}

.platform {
	font-size: 0.8em;
}

.lineBLUE {
	background-color: #0099cc;
	color: #ffffff;
}

.lineYELLOW {
	background-color: #ffff33;
	color: #000000;
}

.lineORANGE {
	background-color: #ff9933;
	color: #ffffff;
}

.lineRED {
	background-color: #ff0000;
	color: #ffffff;
}

.lineGREEN {
	background-color: #339933;
	color: #ffffff;
}

.lineWHITE {
	background-color: #ffffff;
	color: #000000;
}

#swapButton {
	margin-bottom: 10px;
}

#newTicketSearchButton {
	margin-bottom: 20px;
}