/* For fixed top and bottom navigation bars */

body { 
	padding-top: 70px; 
}

/* font-awesome */
.fa {
  text-rendering: auto;
}

.navbar {
    margin-bottom: 0;
}

.navbar-fixed-top {
	background-image: url("../images/header.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.stationTabs {
	margin-bottom: 20px;
}

.platform {
	font-size: 0.8em;
}

.lineBLUE {
	background-color: #0099cc;
	color: #ffffff;
}

.lineYELLOW {
	background-color: #ffff33;
	color: #000000;
}

.lineORANGE {
	background-color: #ff9933;
	color: #ffffff;
}

.lineRED {
	background-color: #ff0000;
	color: #ffffff;
}

.lineGREEN {
	background-color: #339933;
	color: #ffffff;
}

