<div class="alert alert-info alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert">
		<span>&times;</span>
	</button>
	<span id="nearestStationButton"><strong><i class="fa fa-location-arrow"></i>
Closest</strong> - {{{formatStationName station.name}}} ({{round station.distance}} miles)</span>
</div>
