<div class="alert alert-danger alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert">
		<span>&times;</span>
	</button>
	<strong><i class="fa fa-exclamation-triangle"></i>&nbsp;<i class="fa fa-clock-o"></i>
{{formatTime announcement.time}}</strong> - {{announcement.bsa.0.description}}
</div>