<div class="panel panel-default" id="stationListPanel">
	<ul class="list-group" id="stations">
		{{#each stations}}
			<li id="{{abbr}}" class="list-group-item">{{{formatStationName name}}}</li>
		{{/each}}
	</ul>
</div>