<button type="button" class="btn btn-primary btn-sm" id="backButton"> <span class="glyphicon glyphicon-chevron-left"></span>Back</button>
<div class="pull-right">
	<button type="button" class="btn btn-default btn-sm" id="reloadButton">
			<span class="glyphicon glyphicon-refresh"></span>
		</button>
	</div>
<h4>{{{formatStationName stationName}}}</h4>
<ul class="nav nav-tabs stationTabs">
		<li class="active"><a href="#departures" data-toggle="tab">Departures</a></li>
		<li ><a href="#info" data-toggle="tab">Info</a></li>
		<li ><a href="#tickets" data-toggle="tab">Tickets</a></li>
</ul>