<div class="alert alert-danger alert-dismissable" role="alert">
	<button type="button" class="close" data-dismiss="alert">
		<span>&times;</span>
	</button>
	<strong><i class="fa fa-exclamation-triangle"></i>&nbsp; {{errorMessage}}</strong>
</div>