<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crudworks.bartcordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BARTCordova</name>
    <description>
        Example Apache Cordova 5 application that displays information about the Bay Area Rapid Transit (BART) train system.
    </description>
    <author email="simon@crudworks.org" href="http://simonprickett.github.io">
        Simon Prickett
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="Orientation" value="portrait" />
	<preference name="SplashScreenDelay" value="5000"/>
    <platform name="android">
        <allow-intent href="market:*" />
		<!-- TODO Splash screens -->
		<!-- TODO Icons -->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
		<!-- TODO Splash screens -->
		<!-- TODO Icons -->
    </platform>
</widget>
